{{>header}}

<body>

	<div class="body">

{{>menu}}



		<div role="main" class="main">

	       {{>slider}}
           
	       {{>searchBar}}
	       {{>upcomingrace}}
	       {{>introduction}}
	       {{>introduction2}}
	       {{>why}}
	       {{>banner}}
	       {{>blog}}



		</div>





		{{>footer}}


	</div>





	<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-insurance.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher" aria-label="Style Switcher"><i class="fas fa-cogs"></i>
		<div class="style-switcher-tooltip"><strong>Style Switcher</strong>
			<p>Check out different color options and styles.</p>
		</div>
	</a>

	<!-- Vendor -->
	<script src="/public/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/public/js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/public/js/views/view.contact.js"></script>

	<!-- Theme Custom -->
	<script src="/public/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/public/js/theme.init.js"></script>







</body>

</html>