		<section class="section bg-transparent position-relative border-0 m-0 p-0">
				<div class="container custom-container-background z-index-1 py-5">
					<div class="row position-relative z-index-1 pt-5-5">
						<div class="col text-center">
							<h2 class="text-color-dark font-weight-medium text-8 mb-5-5"> <img src="/public/img/race-bunny.png" alt=""> Find Races <strong>Near You</strong></h2>
						</div>
					</div>
					<div class="row justify-content-center position-relative gy-5 z-index-1">

						<form action="">
							<div class="d-flex custom-form-control-group-style-1 mb-3">

								<select class="form-control" name="insurance_type">
									<option value="25" selected="selected">25/Pg</option>
									<option value="50">50/Pg</option>
									<option value="75">75/Pg</option>
									<option value="100">100/Pg</option>
								</select>
								<select class="form-control" name="insurance_type">
									<option disabled="" selected="">Within</option>
									<option value="10">10 Miles</option>
									<option value="50">50 Miles</option>
									<option value="100">100 Miles</option>
									<option value="200">200 Miles</option>
									<option value="400">400 Miles</option>
								</select>

								<input type="text" class="form-control" name="zip" placeholder="ZIP CODE">
								<input type="text" class="form-control" name="zip" placeholder="Search">
							</div>
							<input type="submit" class="btn btn-secondary btn-rounded border-0 w-100 text-center font-weight-bold text-3-5 btn-py-3" value="Show Races">
						</form>

					</div>

			</section>
