	
			<section class="section bg-transparent position-relative border-0 m-0 p-0">
				<div class="container pt-5 pb-5-5 mt-4">
					<div class="row">
						<div class="col text-center">
							<h2 class="text-color-dark font-weight-medium text-8 mb-5 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="100">Why Choose Race Management Software by <strong>Race Entry ?</strong></h2>
						</div>
					</div>
					<div class="row gy-5 mb-5">
						<div class="col-lg-6">
							<div class="accordion custom-accordion-style-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" id="accordion1">
								<div class="card card-default">
									<div class="card-header" id="collapse1HeadingOne">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
												1 - Why Choose Race Management Software by Race Entry ?
											</a>
										</h4>
									</div>
									<div id="collapse1One" class="collapse" aria-labelledby="collapse1HeadingOne" data-bs-parent="#accordion1">
										<div class="card-body">
											<p class="mb-0">Race management software with Race Entry is the easiest to use registration and participant management system in the world! Race Entry was designed by avid athletes and passionate race directors that envisioned a superior race registration service. Our goal is simple: To provide you with the very best race registration service. </p>
										</div>
									</div>
								</div>
								<div class="card card-default">
									<div class="card-header" id="collapse1HeadingTwo">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
												2 - Save you time
											</a>
										</h4>
									</div>
									<div id="collapse1Two" class="collapse" aria-labelledby="collapse1HeadingTwo" data-bs-parent="#accordion1">
										<div class="card-body">
											<p class="mb-0">RaceEntry provides all of the features you want, with an intuitive interface to get the job done quickly. </p>
										</div>
									</div>
								</div>
								<div class="card card-default">
									<div class="card-header" id="collapse1HeadingThree">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Three" aria-expanded="false" aria-controls="collapse1Three">
												3 - Streamline the registration service
											</a>
										</h4>
									</div>
									<div id="collapse1Three" class="collapse" aria-labelledby="collapse1HeadingThree" data-bs-parent="#accordion1">
										<div class="card-body">
											<p class="mb-0">Participants want their sign-up to be fast and easy. We have the simplest registration process in the industry. We don’t bombard your participants with random offers from 3rd-party offers like others do. </p>
										</div>
									</div>
								</div>
								<div class="card card-default">
									<div class="card-header" id="collapse1HeadingFour">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Four" aria-expanded="false" aria-controls="collapse1Four">
												4 - Make you more money
											</a>
										</h4>
									</div>
									<div id="collapse1Four" class="collapse" aria-labelledby="collapse1HeadingFour" data-bs-parent="#accordion1">
										<div class="card-body">
											<p class="mb-0">We offer the most competitive processing fees in the industry. No one else matches the value offered by our features and pricing. With our low processing fees you can give your participants the best prices possible, and increase your race participation. .</p>
										</div>
									</div>
								</div>
								<div class="card card-default">
									<div class="card-header" id="collapse1HeadingFive">
										<h4 class="card-title m-0">
											<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Five" aria-expanded="false" aria-controls="collapse1Five">
												5 - Features
											</a>
										</h4>
									</div>
									<div id="collapse1Five" class="collapse" aria-labelledby="collapse1HeadingFive" data-bs-parent="#accordion1">
										<div class="card-body">
											<ul>
												<li>
													Excellent support - We offer the best support in the industry.
												</li>

												<li>
													Simple interface - Easily customize your race registration. Your new race registration can be up and running in no time!
												</li>

												<li>
													Incomplete mailer - Participants often get interrupted during their registration, and forget to finish their purchase. Our incomplete mailer gives you a way to automatically email those participants and invite them to finish their registration, increasing completion rates and maximizing your race participation.
												</li>

												<li>
													Our integrated participant emailer enables you to send your participants updates easily and efficiently. Keeping your participants informed couldn’t be easier!
												</li>

												<li>
													Smart product system. Does your race have product to sell? We make including products in your registration pages a breeze. We also provide your race a dedicated product storefront, allowing you to sell items aside from registrations.
												</li>

												<li>
													Do you get many requests from customers that need to confirm their registrations? Handle these requests automatically with our simple registration verification system.
												</li>

												<li>
													Our financial tables are designed specifically for the needs of race directors, helping you to streamline your bookkeeping and simplify your accounting work.
												</li>

												<li>
													Not sure how to post your race results online? No problem. Your RaceEntry account will accept race results from virtually any timing company, and we post them online for free. Your participants will quickly and easily be able to review their results.
												</li>

												<li>
													Social media integration - RaceEntry makes it easy for your participants to invite their friends to sign up for your race via Facebook.
												</li>

												<li>
													Check-In App – Save time with our easy to use check in app at your packet pick up.
												</li>

												<li>
													And much, much more! Please contact us to discuss what we can do for you!
												</li>
											</ul>
										</div>
									</div>
								</div>
								<a href="#" class="btn btn-secondary btn-rounded border-0 font-weight-bold text-3 btn-px-5 py-3 mt-5-5">CONTACT US</a>
							</div>
						</div>
						<div class="col-lg-6 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100">
							<figure class="custom-testimonial-style-1 mb-5-5">
								<img src="/public/img/Top-Rated-Registration-Software.png" class="img-fluid ps-5-5 text-center" alt="John Doe Ceo and Founder" />

								<blockquote class="ps-5-5 mb-0">
									<p class="text-4-5 line-height-7 mb-3">Race Directors- experience the most efficient registration software available. Our powerful registration software was designed by race directors and athletes that understand your needs. Race setup is FREE, and we can get your race ready to process registrations in minutes. Race Entry offers the lowest fees in the industry for online race registration software.</p>
								</blockquote>
								<!-- <figcaption class="font-weight-bold text-color-dark positive-ls-2 ps-5-5 mb-3">JOHN DOE - CEO & FOUNDER</figcaption> -->
							</figure>


						</div>
					</div>

					<div class="row">
						<div class="col">
							<hr>
						</div>
					</div>

					<div class="row align-items-center text-center py-5 my-2">
						<div class="row">
							<div class="col text-center">
								<h2 class="text-color-dark font-weight-medium text-8 mb-4">Our <strong>Software</strong></h2>
							</div>
						</div>
						<div class="col-sm-4 col-xl-3 mb-5 mb-xl-0">
							<img src="/public/img/Race-Registration-Software-Race-Entry.png" alt class="img-fluid" style="max-width: 200px;" />
						</div>
						<div class="col-sm-4 col-xl-3 mb-5 mb-xl-0">
							<img src="/public/img/Rodeo-Attendee-Management-Software-Rodeo-Ticket.png" alt class="img-fluid" style="max-width: 200px;" />
						</div>
						<div class="col-sm-4 col-xl-3 mb-5 mb-xl-0">
							<img src="/public/img/Volunteer-Registration-Management-Software-Come-Volunteer.png" alt class="img-fluid" style="max-width: 200px;" />
						</div>
						<div class="col-sm-4 col-xl-3 mb-5 mb-lg-0">
							<img src="/public/img/Event-registration-management-software-Stride-Events.png" alt class="img-fluid" style="max-width: 200px;" />
						</div>

					</div>
				</div>
				<svg version="1.1" width="300" class="d-none d-sm-block position-absolute bottom-0 left-0 opacity-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 301.96 180.98" data-appear-animation-svg="true">
					<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M295.95,180.98c1.45-3.75,2.88-8.35,3.83-13.71c1.63-9.2,1.14-16.61,0.77-20.17
							c-0.56-5.36-1.19-11.4-4.34-18.13c-6.88-14.68-20.42-21.26-25.02-23.49c-6.22-3.02-11.07-4.04-17.94-5.49
							c-4.28-0.9-19.56-3.88-44.04-1.66c-12.21,1.11-10.62,2.05-22.02,3.15c-16.33,1.57-28.79,2.77-43.4-1.19
							c-4.11-1.11-29.81-8.43-43.57-29.79c-1.87-2.9-1.5-2.93-6.3-11.06C87.53,48.62,82.5,40.09,75.69,31.53
							C67.37,21.05,61.29,13.39,50.16,7.7C39.76,2.38,30.2,1.45,25.65,1.06C14.62,0.1,5.62,1.88,0,3.44" />
					<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M0,12.63c2.19-0.54,5.13-1.15,8.63-1.53c0,0,6.95-0.76,14.3,0c21.11,2.18,36.09,13.96,36.09,13.96
							c5.32,4.18,10.24,11.47,20.09,26.04c13.27,19.65,12.63,21.86,20.09,29.96c4.86,5.28,13.21,14.17,26.72,19.91
							c12.72,5.41,23.74,5.35,37.28,5.28c13.72-0.07,14.67-1.87,36.26-3.4c17.12-1.21,25.69-1.82,35.23-0.17
							c9.22,1.59,22.97,3.97,34.72,15.15c3.2,3.05,11.14,10.79,13.96,22.98c1.86,8.06,0.86,15.36-0.68,26.55
							c-0.79,5.74-1.79,10.44-2.55,13.62" />
					<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M0,22.85c1.44-0.56,3.59-1.31,6.25-1.87c1.54-0.33,7.36-1.47,16.17-0.17C39.62,23.35,51.69,31.7,51.69,31.7
							C60.34,37.68,65,44.48,74.33,58.08c8.02,11.69,7.57,13.67,14.98,23.32c6.51,8.49,11.01,14.35,18.72,19.4
							c10.64,6.98,21.11,8.3,30.3,9.36c2.87,0.33,8.01,0.79,37.96-1.7c20.15-1.68,22.25-2.26,30.13-2.04c10.49,0.29,18.94,0.59,29.11,4.43
							c6.81,2.57,17.42,6.58,24.68,17.19c5.75,8.4,6.6,16.83,7.32,24c1.26,12.49-1.09,22.72-3.06,28.94" />
					<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M247.61,180.98c1.16-3.93,2.51-9.45,3.23-16.17c0.78-7.28,1.39-12.88-0.17-19.23
							c-2.97-12.12-11.91-19.34-15.15-21.96c-9.29-7.5-18.82-9.45-27.23-11.06c-3.36-0.65-10.36-1.79-31.15-0.68
							c-25.13,1.34-25.32,3.56-39.15,3.06c-12.15-0.44-23.83-0.99-35.74-8.17c-8.58-5.16-13.73-11.62-17.36-16.17
							C75.94,79.38,77.6,75.56,68.2,62c-4.86-7.02-9.92-14.17-19.06-20.6c-10.45-7.34-20.46-9.65-24.17-10.38
							C14.19,28.9,5.23,30.09,0,31.19" />
					<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M0,41.74c4.06-1.09,10.29-2.26,17.82-1.7c2.7,0.2,16.24,1.42,29.11,11.23c5.96,4.54,11.14,12.28,21.28,27.57
							c10.47,15.81,9.59,16.58,14.3,21.45c12,12.4,26.47,16.43,30.13,17.36c12.44,3.15,23.68,1.81,37.45,0.17
							c5.39-0.64,4.9-0.87,10.72-1.53c11.66-1.33,21.16-2.41,32-0.51c5.89,1.03,16.06,2.93,26.04,10.55c4.54,3.47,11.89,9.08,14.98,18.89
						c2.45,7.77,1.29,15.21-0.17,24.68c-0.72,4.65-1.66,8.46-2.38,11.07" />
				</svg>

			</section>



			