{{>header}}
<body>
	<div class="body">

{{>menu}}


	<div role="main" class="main">
	{{>crumb}}
			<div class="container position-relative pb-5 mb-5">
						<div class="page-header-svg-container">
							<svg class="d-none d-lg-block custom-svg-position-5" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1686.88 1095.86" data-appear-animation-svg="true">
								<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M87.95,1.4c6.82,9.14,15.53,21.59,24.68,36.94c6.82,11.45,27.18,46.82,42.55,96.51
									c22.8,73.68,21.39,136.02,20.51,156c-3.11,70.56-22.16,122.51-36,159.32c-10.88,28.95-11.68,24.38-59.74,125.62
									c-43.46,91.53-49.66,109.7-52.85,119.49C6.6,758.14,2.98,804.59,2.16,829.14c-1.49,44.72,4.54,70.82,6.47,78.64
									c3.54,14.35,10.42,41.25,29.79,70.47c6.64,10.01,30.84,44.6,76.77,69.11c42.9,22.9,81.52,24.6,110.47,25.87
									c45.57,2.01,79.98-6.18,113.02-14.3c30.83-7.58,58.4-18.38,113.53-40c59.55-23.35,66.43-28.58,110.47-43.91
									c35.63-12.41,57.67-19.98,89.36-25.7c25.68-4.64,55.3-9.77,94.3-6.3c12.43,1.11,53.97,5.59,102.13,27.74
									c32.05,14.74,53.03,30.87,57.53,34.38c24.26,18.91,41.05,38.65,51.91,53.45"/>
								<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M119.44,34.42c8.99,12.85,20.33,30.49,31.66,52.43c26.28,50.9,36.35,93.84,39.15,106.55
									c3.12,14.2,10.77,52.5,9.53,102.81c-0.28,11.19-2.03,65.48-23.83,133.79c-9.82,30.78-21.07,54.56-43.57,102.13
									c-26.78,56.6-29.14,53.79-45.62,90.21c-19.84,43.85-42.56,94.07-48.68,161.02c-2.86,31.34-5.69,66.08,7.49,108.6
									c6.03,19.44,20.95,65.45,64,101.11c47.45,39.3,101.05,42.8,133.79,44.94c63.04,4.12,115.57-13.6,165.11-30.3
									c5.59-1.89,23.59-8.86,59.57-22.81c100.23-38.85,99.33-40.27,122.21-47.32c41.18-12.69,80.51-24.8,133.11-21.79
									c19.83,1.14,63.01,5.65,111.66,28.94c8.19,3.92,50.6,24.68,88.51,64.34c5.66,5.92,10.38,11.39,12.6,13.96
									c23.78,27.59,39.5,52.94,49.36,70.81"/>
								<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M149.4,68.12c6.57,8.86,14.9,20.95,23.49,35.91c4.29,7.48,19.67,34.89,32.17,73.53
									c6.72,20.77,21.93,69.22,20.6,133.28c-1.3,62.06-17.49,108.17-28.94,139.91c-10.84,30.08-24.93,58.75-53.11,116.09
									c-20.68,42.08-23.94,45.72-33.7,69.11c-12.01,28.77-26.1,63.09-33.02,108.6c-5.01,32.91-10.64,69.92,1.7,115.4
									c5.5,20.27,17.08,60.94,53.45,94.64c42.55,39.43,93.06,45.28,119.49,48.34c54.36,6.29,98.94-6.87,146.04-20.77
									c14.56-4.3,31.27-10.58,64.68-23.15c90.64-34.09,94.12-40.57,133.45-51.74c33.81-9.61,71.69-20.37,122.21-16.68
									c58.83,4.3,99.83,25.64,107.91,29.96c40.02,21.39,65.7,49.16,77.96,62.64c8.35,9.18,14.84,17.39,19.4,23.49"/>
								<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M179.69,101.14c6.75,9.74,13.52,20.4,20.09,32c22.79,40.27,33.1,74.23,35.4,82.04
									c5.33,18.08,15.6,58.21,14.64,110.3c-0.24,12.92-1.88,65.03-24.85,127.32c-3.1,8.42-7.74,18.89-17.02,39.83
									c-25.65,57.88-36.57,75.11-52.43,110.3c-18.12,40.19-31.28,69.39-39.83,110.64c-7.2,34.73-15.41,74.33-2.38,122.21
									c4.55,16.73,14.43,51.38,44.94,82.04c35.67,35.85,78.11,44.69,100.43,49.02c58.53,11.37,107.23-3.46,156.26-18.38
									c24.42-7.44,15.93-6.77,86.47-33.7c103.46-39.5,129.97-44.06,142.98-45.96c28.7-4.18,61.65-8.66,103.15,1.02
									c7.96,1.86,47.73,11.59,90.21,42.55c30.91,22.53,50.88,47.29,62.64,64.34"/>
								<path class="appear-animation" data-appear-animation="customLines1anim" data-appear-animation-delay="100" data-appear-animation-duration="7s" fill="none" stroke="#d8d8d8" stroke-width="2px" stroke-miterlimit="10" d="M208.89,133.57c7.42,9.37,15.01,20.15,22.21,32.43c21.75,37.04,29.38,69.66,33.96,89.87
									c4.69,20.73,13.92,63.26,7.4,117.96c-4.84,40.58-16.18,69.74-28.09,100.34c-11.91,30.61-15.38,31.76-42.38,89.11
									c-24.66,52.37-36.99,78.56-44.68,105.45c-8.49,29.66-18.6,66.37-13.28,113.36c2.65,23.35,6.06,53.41,27.06,84
									c28.75,41.87,70.98,56.35,86.81,61.53c35.79,11.71,65.37,8.99,93.19,6.13c15-1.54,44-5.54,139.91-42.38
									c72.26-27.76,81.46-35.35,120.77-43.91c27.26-5.94,54.69-11.68,91.15-8.17c55.63,5.36,93.81,28.56,102.38,33.96
									c36.12,22.73,57.57,50.99,66.38,62.81c3.86,5.17,6.88,9.63,8.94,12.77"/>
							</svg>
						</div>

						<div class="row text-center text-md-start py-2">
							<div class="col p-relative bottom-5">
								<ul class="breadcrumb d-block text-4 opacity-8 text-default mb-0">
									<li><a href="#" class="text-decoration-none text-default">Home</a></li>
									<li class="active">About Us</li>
								</ul>
								<h1 class="font-weight-bold text-color-dark text-10 mt-1 mb-0">About Us</h1>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-transparent position-relative border-0 m-0 p-0">
					<div class="container custom-container-background custom-z-index-1 py-5">
						<div class="row position-relative z-index-1 pt-5-5">
							<div class="col">

								<h2 class="text-color-dark font-weight-medium text-8 mb-4-5">Who We <strong>Are</strong></h2>
						

								<div class="container">
									<h1 class="my-3">Race Management Software by Race Entry</h1>
								
									<p>Race management software with Race Entry is the easiest to use registration and participant management system in the world! Race Entry was designed by avid athletes and passionate race directors that envisioned a superior race registration service.   Our goal is simple: To provide you with the very best race registration service. To meet this goal, we’ve focused on three primary objectives:</p>
									<ul>
										<li>
											<strong>Save you time</strong> - RaceEntry provides all of the features you want, with an intuitive interface to get the job done quickly.
										</li>
										<li>
											<strong>Streamline the registration service</strong> - Participants want their sign-up to be fast and easy. We have the simplest registration process in the industry. We don’t bombard your participants with random offers from 3rd-party offers like others do.
										</li>
										<li>
											<strong>Make you more money</strong> - We offer the most competitive processing fees in the industry. No one else matches the value offered by our features and pricing. With our low processing fees you can give your participants the best prices possible, and increase your race participation.
										</li>
									</ul>
									<h2>Features</h2>
									<ul>
											<li>
												Excellent support - We offer the best support in the industry.
											</li>
								
											<li>
												Simple interface - Easily customize your race registration. Your new race registration can be up and running in no time!
											</li>
								
											<li>
												Incomplete mailer - Participants often get interrupted during their registration, and forget to finish their purchase. Our incomplete mailer gives you a way to automatically email those participants and invite them to finish their registration, increasing completion rates and maximizing your race participation.
											</li>
								
											<li>
												Our integrated participant emailer enables you to send your participants updates easily and efficiently. Keeping your participants informed couldn’t be easier!
											</li>
								
											<li>
												Smart product system. Does your race have product to sell? We make including products in your registration pages a breeze. We also provide your race a dedicated product storefront, allowing you to sell items aside from registrations.
											</li>
								
											<li>
												Do you get many requests from customers that need to confirm their registrations? Handle these requests automatically with our simple registration verification system.
											</li>
								
											<li>
												Our financial tables are designed specifically for the needs of race directors, helping you to streamline your bookkeeping and simplify your accounting work.
											</li>
								
											<li>
												Not sure how to post your race results online? No problem. Your RaceEntry account will accept race results from virtually any timing company, and we post them online for free. Your participants will quickly and easily be able to review their results.
											</li>
								
											<li>
												Social media integration - RaceEntry makes it easy for your participants to invite their friends to sign up for your race via Facebook.
											</li>
								
											<li>
												Check-In App – Save time with our easy to use check in app at your packet pick up.
											</li>
								
											<li>
												And much, much more! Please contact us to discuss what we can do for you!
											</li>
									</ul>
									<h2>Getting Started - 3 easy steps:</h2>
									<ul>
										<li>
											Create your RaceEntry Race Director’s account <a href="https://www.raceentry.com/account/create">here</a>.
										</li>
								
										<li>
											Inside your account, add your race event. Adding a race takes less than 10 minutes. We will review, validate and activate your race registration form.
										</li>
								
										<li>
											Once your race registration form is active, point the “Register Now” links from your website to the registration form that we customize for you.
										</li>
								
									</ul>
									<p>If at any point you need assistance, don’t hesitate to <a href="https://www.raceentry.com/contact-us">Contact Us</a>.
										We’re here to help!</p>
								<div></div></div>


							</div>
						</div>
					</div>
				</section>

				<section class="section section-height-3 border-0 m-0">
					<div class="container">
						<div class="row">
							<div class="col">
								<h2 class="text-color-dark font-weight-medium text-8 mb-4">Our <strong>Story</strong></h2>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3">
								<div class="tabs tabs-vertical tabs-right tabs-navigation tabs-navigation-simple">
									<ul class="nav nav-tabs col-sm-3">
										<li class="nav-item">
											<a class="nav-link active" href="#tabsNavigationVertSimple1" data-bs-toggle="tab"><strong class="text-8 d-block text-end py-2 pe-4">2000</strong></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#tabsNavigationVertSimple2" data-bs-toggle="tab"><strong class="text-8 d-block text-end py-2 pe-4">2002</strong></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#tabsNavigationVertSimple3" data-bs-toggle="tab"><strong class="text-8 d-block text-end py-2 pe-4">2006</strong></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#tabsNavigationVertSimple4" data-bs-toggle="tab"><strong class="text-8 d-block text-end py-2 pe-4">2012</strong></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#tabsNavigationVertSimple5" data-bs-toggle="tab"><strong class="text-8 d-block text-end py-2 pe-4">2020</strong></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="tab-pane tab-pane-navigation active" id="tabsNavigationVertSimple1">
									<h4>Company Foundation</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
									<img class="float-start img-fluid rounded-circle me-4 mb-4" width="200" src="img/demos/insurance/generic/generic-1.jpg" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
								</div>
								<div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple2">
									<h4>Company Fact</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
									<p>Lorem ipsum dolor sit amet, uisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
								</div>
								<div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple3">
									<h4>Company Fact</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
									<img class="float-start img-fluid rounded-circle me-4 mb-4" width="200" src="img/demos/insurance/generic/generic-2.jpg" alt="">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
								</div>
								<div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple4">
									<h4>Company Fact</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
								</div>
								<div class="tab-pane tab-pane-navigation" id="tabsNavigationVertSimple5">
									<h4>Company Fact</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis, arcu vel pellentesque sodales, nisi est varius diam, ac ultrices sem ante quis sem. Proin ultricies volutpat sapien, nec scelerisque ligula mollis lobortis.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-transparent position-relative border-0 m-0 p-0">
					<div class="container pt-5 pb-5-5 mt-4">
						<div class="row gy-5 mb-5">
							<div class="col">
								<div class="accordion custom-accordion-style-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" id="accordion1">
									<div class="card card-default">
										<div class="card-header" id="collapse1HeadingOne">
											<h4 class="card-title m-0">
												<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1One" aria-expanded="false" aria-controls="collapse1One">
													1 - Why Choose Porto ?
												</a>
											</h4>
										</div>
										<div id="collapse1One" class="collapse" aria-labelledby="collapse1HeadingOne" data-bs-parent="#accordion1">
											<div class="card-body">
												<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
											</div>
										</div>
									</div>
									<div class="card card-default">
										<div class="card-header" id="collapse1HeadingTwo">
											<h4 class="card-title m-0">
												<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
													2 - Cras a elit sit amet leo accumsan?
												</a>
											</h4>
										</div>
										<div id="collapse1Two" class="collapse" aria-labelledby="collapse1HeadingTwo" data-bs-parent="#accordion1">
											<div class="card-body">
												<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
											</div>
										</div>
									</div>
									<div class="card card-default">
										<div class="card-header" id="collapse1HeadingThree">
											<h4 class="card-title m-0">
												<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Three" aria-expanded="false" aria-controls="collapse1Three">
													3 - Hel officitur felis ultricis nan?
												</a>
											</h4>
										</div>
										<div id="collapse1Three" class="collapse" aria-labelledby="collapse1HeadingThree" data-bs-parent="#accordion1">
											<div class="card-body">
												<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
											</div>
										</div>
									</div>
									<div class="card card-default">
										<div class="card-header" id="collapse1HeadingFour">
											<h4 class="card-title m-0">
												<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Four" aria-expanded="false" aria-controls="collapse1Four">
													4 - Wuspaisse hendreirit vehicula leo?
												</a>
											</h4>
										</div>
										<div id="collapse1Four" class="collapse" aria-labelledby="collapse1HeadingFour" data-bs-parent="#accordion1">
											<div class="card-body">
												<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
											</div>
										</div>
									</div>
									<div class="card card-default">
										<div class="card-header" id="collapse1HeadingFive">
											<h4 class="card-title m-0">
												<a class="accordion-toggle text-color-dark font-weight-semibold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse1Five" aria-expanded="false" aria-controls="collapse1Five">
													5 - Lintegers aliquet ullamcorper dollor, quis sollic tudin?
												</a>
											</h4>
										</div>
										<div id="collapse1Five" class="collapse" aria-labelledby="collapse1HeadingFive" data-bs-parent="#accordion1">
											<div class="card-body">
												<p class="mb-0">Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien.</p>
											</div>
										</div>
									</div>
									<a href="#" class="btn btn-secondary btn-rounded border-0 font-weight-bold text-3 btn-px-5 py-3 mt-5-5">CONTACT US</a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col">
								<hr>
							</div>
						</div>

						<div class="row align-items-center text-center py-5 my-2">
							<div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
								<img src="img/logos/logo-8.png" alt class="img-fluid" style="max-width: 90px;" />
							</div>
							<div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
								<img src="img/logos/logo-9.png" alt class="img-fluid" style="max-width: 140px;" />
							</div>
							<div class="col-sm-4 col-xl-2 mb-5 mb-xl-0">
								<img src="img/logos/logo-10.png" alt class="img-fluid" style="max-width: 140px;" />
							</div>
							<div class="col-sm-4 col-xl-2 mb-5 mb-lg-0">
								<img src="img/logos/logo-11.png" alt class="img-fluid" style="max-width: 140px;" />
							</div>
							<div class="col-sm-4 col-xl-2 mb-5 mb-lg-0">
								<img src="img/logos/logo-12.png" alt class="img-fluid" style="max-width: 100px;" />
							</div>
							<div class="col-sm-4 col-xl-2">
								<img src="img/logos/logo-13.png" alt class="img-fluid" style="max-width: 100px;" />
							</div>
						</div>
					</div>

				</section>
	</div>



{{>footer}}


	</div>





	<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-insurance.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher" aria-label="Style Switcher"><i class="fas fa-cogs"></i>
		<div class="style-switcher-tooltip"><strong>Style Switcher</strong>
			<p>Check out different color options and styles.</p>
		</div>
	</a>

	<!-- Vendor -->
	<script src="/public/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/public/js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/public/js/views/view.contact.js"></script>

	<!-- Theme Custom -->
	<script src="/public/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/public/js/theme.init.js"></script>







</body>

</html>