<header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 70, 'stickySetTop': '-70px', 'stickyChangeLogo': true}">
				<div class="header-body border-0 box-shadow-none">
					<div class="header-container container">
						<div class="header-row py-2">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo mb-0">
										<a href="index.php">
											<img alt="Race" width="200" height="40" src="/public/img/Online-Race-Registration-Race-Entry.png">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end align-items-center flex-row">
								<div class="header-nav-features">
									
										<div class="header-logo1 mb-0">
											<a href="index.php">
												<img alt="Porto" width="123" height="46" src="/public/img/Volunteer-Registration-Management-Software-Come-Volunteer.png">
											</a>
										</div>
								
								</div>
								<div class="header-nav-features">
								
										<div class="header-logo1 mb-0">
											<a href="index.php">
												<img alt="Porto" width="123" height="46" src="/public/img/Event-registration-management-software-Stride-Events.png">
											</a>
										</div>
								
								</div>
								<div class="header-nav-features d-none d-md-block">
									
										<div class="header-logo1 mb-0">
											<a href="index.php">
												<img alt="Porto" width="123" height="46" src="/public/img/Rodeo-Attendee-Management-Software-Rodeo-Ticket.png">
											</a>
										</div>
								
								</div>
							</div>
						</div>
					</div>					
					<div class="header-nav-bar z-index-0">
						<div class="container">
							<div class="header-row">
								<div class="header-column">
									<div class="header-row align-items-center justify-content-end">
										<div class="header-nav header-nav-links justify-content-start mb-3">
											<div class="header-nav-main header-nav-main-text-capitalize header-nav-main-effect-2 header-nav-main-sub-effect-1">
												<nav class="collapse">
													<ul class="nav nav-pills" id="mainNav">
														<li>
															<a class="nav-link active" href="index.php">
																Home
															</a>
														</li>
														<li>
															<a class="nav-link" href="about.php">
																About Us
															</a>
														</li>
														<li class="dropdown">
															<a class="nav-link dropdown-toggle" href="#">
																Participants
															</a>
															<ul class="dropdown-menu">
															<li>	<a class="dropdown-item" href="#">Race Calendar</a> </li>
															<li>	<a class="dropdown-item" href="#">Virtual Race Calendar</a> </li>
															<li>	<a class="dropdown-item" href="#">Find Races By State</a></li>
															<li>	<a class="dropdown-item" href="#">Find Race Charities By State</a></li>
															<li>	<a class="dropdown-item" href="#">Find &amp; Join Clubs</a></li>
															<li>	<a class="dropdown-item" href="#">College Scholarship</a></li>
															</ul>
														</li>

														<li class="dropdown">
															<a class="nav-link dropdown-toggle" href="#">
																Timers
															</a>
															<ul class="dropdown-menu">
														
															<li><a class="dropdown-item" href="#"> Race Timers in the USA </a></li>
															<li><a class="dropdown-item" href="#"> Race Timing Technologies </a></li>
															<li><a class="dropdown-item" href="#"> Live Race Results </a></li>
															<li><a class="dropdown-item" href="#"> Add Your Timing Company </a></li>
															<li><a class="dropdown-item" href="#">Advertise Your Timing Company</a></li>
								
															</ul>
														</li>


														<li>
															<a class="nav-link" href="blog.php">
																Blog
															</a>
														</li>
														<li>
															<a class="nav-link" href="contact.php">
																Contact
															</a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
										<a href="#" class="position-relative top-5 btn btn-outline btn-rounded btn-primary text-2 font-weight-bold text-uppercase px-5 btn-py-1 mb-3">Log IN</a> |
									
										<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="position-relative top-5 btn btn-outline btn-rounded btn-secondary text-2 font-weight-bold text-uppercase px-5 btn-py-2 mb-3">Create Race</button>
									
										<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>