<section class="textHeavy">
	<h1>Download</h1>
	<p>All releases of Kohana are available from <a href="{{github_releases_url}}">Github Releases</a>.</p>
	<p><small><em>Github is the only official release channel!</em></small></p>
	<p>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3247088052200757" data-ad-slot="4779867787" data-ad-format="auto" data-full-width-responsive="true"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</p>
</section>
