{{>header}}
<body>
	<div class="body">

{{>menu}}


	<div role="main" class="main">
	{{>crumb}}
				<section class="section bg-transparent position-relative border-0 m-0 p-0">
					<div class="container custom-container-background custom-z-index-1 py-5">
						<div class="row position-relative z-index-1 pt-5-5">
							<div class="col-lg-8 mb-5 mb-lg-0">

								<article class="mb-5">
									<div class="card bg-transparent border-0">
										<div class="card-body p-0 z-index-1">
											<a href="/blogdetail/index" data-cursor-effect-hover="plus">
												<img class="card-img-top rounded-0 mb-2" src="https://s3-us-west-2.amazonaws.com/images.raceentry.com/blog/thanksgiving-race-turkey-trot-tips-blog-10.jpg?v=1732039339" alt="Card Image">
											</a>
											<p class="text-uppercase text-color-default text-1 my-2">
												<time pubdate datetime="2024-01-10">10 Jan 2024</time> 
												<span class="opacity-3 d-inline-block px-2">|</span> 
												3 Comments 
												<span class="opacity-3 d-inline-block px-2">|</span> 
												John Doe
											</p>
											<div class="card-body p-0">
												<h4 class="card-title text-5 font-weight-bold pb-1 mb-2"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="/blogdetail/index">Racing Through the Holidays: How to Build Enthusiasm for Your Turkey Trot</a></h4>
												<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem , consectetur adipiscing elit...</p>
												<a href="/blogdetail/index" class="text-decoration-none custom-link-hover-effects">
													Read More
												</a>
											</div>
										</div>
									</div>
								</article>

								<article class="mb-5">
									<div class="card bg-transparent border-0">
										<div class="card-body p-0 z-index-1">
											<a href="/blogdetail/index" data-cursor-effect-hover="plus">
												<img class="card-img-top rounded-0 mb-2" src="https://s3-us-west-2.amazonaws.com/images.strideevents.com/blog-thumbnail/shared-blog-thumbnail-53.png?v=1737448734" alt="Card Image">
											</a>
											<p class="text-uppercase text-color-default text-1 my-2">
												<time pubdate datetime="2024-01-10">10 Jan 2024</time> 
												<span class="opacity-3 d-inline-block px-2">|</span> 
												3 Comments 
												<span class="opacity-3 d-inline-block px-2">|</span> 
												John Doe
											</p>
											<div class="card-body p-0">
												<h4 class="card-title text-5 font-weight-bold pb-1 mb-2"><a class="text-color-dark text-color-hover-primary text-decoration-none" href="/blogdetail/index">How to Grow your Business</a></h4>
												<p class="card-text mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra lorem , consectetur adipiscing elit...</p>
												<a href="/blogdetail/index" class="text-decoration-none custom-link-hover-effects">
													Read More
												</a>
											</div>
										</div>
									</div>
								</article>

								<ul class="custom-pagination-style-1 pagination pagination-rounded pagination-md justify-content-center">
									<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit"><i class="fas fa-angle-left"></i></a></li>
									<li class="page-item active"><a class="page-link" href="#" data-cursor-effect-hover="fit">1</a></li>
									<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit">2</a></li>
									<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit">3</a></li>
									<li class="page-item"><a class="page-link" href="#" data-cursor-effect-hover="fit"><i class="fas fa-angle-right"></i></a></li>
								</ul>

							</div>
							<div class="blog-sidebar col-lg-4 pt-4 pt-lg-0">
								<aside class="sidebar">
									<div class="px-3 mb-4">
										<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">About The Blog</h3>
										<p class="m-0">Lorem ipsum dolor sit amet, conse elit porta. Vestibulum ante justo, volutpat quis porta diam.</p>
									</div>
									<div class="py-1 clearfix">
										<hr class="my-2">
									</div>
									<div class="px-3 mt-4">
										<form action="page-search-results.html" method="get">
											<div class="input-group mb-3 pb-1">
												<input class="form-control box-shadow-none text-1 border-0 bg-color-grey" placeholder="Search..." name="s" id="s" type="text">
												<button type="submit" class="btn bg-color-grey text-1 p-2"><i class="fas fa-search m-2"></i></button>
											</div>
										</form>
									</div>
									<div class="py-1 clearfix">
										<hr class="my-2">
									</div>
									<div class="px-3 mt-4">
										<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Posts</h3>
										<div class="pb-2 mb-1">
											<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2024 <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
											<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Lorem ipsum dolor sit amet</a>
											<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2024 <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
											<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Consectetur adipiscing elit</a>
											<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2024 <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
											<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Vivamus sollicitudin nibh luctus</a>
										</div>
									</div>
									<div class="py-1 clearfix">
										<hr class="my-2">
									</div>
									<div class="px-3 mt-4">
										<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Comments</h3>
										<div class="pb-2 mb-1">
											<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">Admin on <strong class="text-color-dark text-hover-primary text-4">Vivamus sollicitudin</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2024</span></a>
											<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">John Doe on <strong class="text-color-dark text-hover-primary text-4">Lorem ipsum dolor</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2024</span></a>
											<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">Admin on <strong class="text-color-dark text-hover-primary text-4">Consectetur adipiscing</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2024</span></a>
										</div>
									</div>
									<div class="py-1 clearfix">
										<hr class="my-2">
									</div>
									<div class="px-3 mt-4">
										<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0">Categories</h3>
										<ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
											<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Design (2)</a></li>
											<li class="nav-item">
												<a class="nav-link bg-transparent border-0 active" href="#">Photos (4)</a>
												<ul>
													<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Animals</a></li>
													<li class="nav-item"><a class="nav-link bg-transparent border-0 active" href="#">Business</a></li>
													<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Sports</a></li>
													<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">People</a></li>
												</ul>
											</li>
											<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Videos (3)</a></li>
											<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Lifestyle (2)</a></li>
											<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Technology (1)</a></li>
										</ul>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</section>





	</div>



{{>footer}}


	</div>





	<a class="style-switcher-open-loader" href="#" data-base-path="" data-skin-src="master/less/skin-insurance.less" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="right" title="Style Switcher" aria-label="Style Switcher"><i class="fas fa-cogs"></i>
		<div class="style-switcher-tooltip"><strong>Style Switcher</strong>
			<p>Check out different color options and styles.</p>
		</div>
	</a>

	<!-- Vendor -->
	<script src="/public/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/public/js/theme.js"></script>

	<!-- Current Page Vendor and Views -->
	<script src="/public/js/views/view.contact.js"></script>

	<!-- Theme Custom -->
	<script src="/public/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/public/js/theme.init.js"></script>







</body>

</html>